# OS
.DS_STORE
*.swp
*~
[Dd]esktop.ini
Thumbs.db

# IDE
.idea/**
**/*.iml
**/target
**/lib
**/surefire-reports-aggregate
**/dependency-reduced-pom.xml
**/jsconfig.json
.settings
.project
.classpath

# Development
legend-depot-server/src/test/resources/local-config.json
legend-depot-store-server/src/test/resources/local-config.json
legend-depot-store-server/src/test/resources/local-repository-settings.xml